.GameField{
    display: flex;
    height: 60vh;
    width: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.matrixCell{
    flex-grow: 1;
    border: 1px solid rgb(83, 83, 83);
    border-radius: 7px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.matrixRow{
    display: flex;
    flex-grow: 1;
    width: 80%;
}

.startPoint{
    position:absolute;
    z-index: -1;
}